{{!< default}}

<!DOCTYPE html>
<html lang="{{@site.locale}}">

  <head>
      <meta http-equiv="refresh" content = "0;url=https://kontera.ch/blog/posts/{{url}}">

      {{ghost_head}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
